body{
    text-align: center; 
    margin: 0;
    margin-top: 20px;  
}
.container{
    position: relative;
    justify-content: center; 
    margin-left: auto; 
    margin-right: auto; 
    margin-bottom: 20px; 
    width: 90%; 
    border-bottom: 2px solid black; 
    z-index: -1;
}

.container ol{
    text-align: left; 
}
.container h1{
    border-bottom: 2px solid black; 
}
.container li{
    margin-bottom: 15px; 
}

.container li:first-letter{
    color: purple; 
    font-size: 1.5em;

}
.siete{
    font-size: 2em; 
    color: purple; 
}

.br-space{
    margin-bottom: 70px; 
}
.link-active {
    
    position: fixed;
    border: none; 
    border-radius: 10px; 
    padding: 10px; 
    margin: 0; 
    left: 0; 
    top:0; 
}
.link-active a{
    color:black; 
    font-size: 2em; 
    border: none; 
    border-bottom: 2px solid purple; 
    text-decoration: none; 
}
.link-active a:hover{
    color:purple;
    font-weight: bold;  
}

.turtleDiv{

    margin-top: 50px; 
    margin-bottom: 50px; 

}

.turtleList{
    list-style: none; 
}
.turtleList li{
    border-radius: 10px; 
    border: 2px solid black; 
    margin: 10px; 
    padding: 5px; 
    display: inline-grid;
}
.turtleList img{
    width: 400px; 
    height: 400px;
}
.turtleList h4{
    margin: 0px; 
    color:purple;
    font-size: 2em; 
    border-bottom: 1.8px solid black; 
}


.link{
    font-weight: bold; 
    border-radius: 10px; 
    text-decoration: none; 
    background:rgba(128, 0, 128, 0.91);
    color:black; 
    padding: 20px; 
}
.link:hover{
    border: 2px solid black; 
    background: white; 
    color:purple; 
}

#footer{
    background: rgba(0, 0, 0, 0.397); 
    margin: 0; 
    padding: 0px; 
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    }
#footer h5{
    text-align: right; 
    color:back; 
    margin: 0; 
    padding: 10px; 
}