body{
    margin: 0; 
    padding: 0; 
    text-align: center; 
}


.link-active {
    
    position: fixed;
    border: none; 
    border-radius: 10px; 
    padding: 10px; 
    margin: 0; 
    left: 0; 
    top:0; 
}
.link-active a{
    color:black; 
    font-size: 2em; 
    border: none; 
    border-bottom: 2px solid purple; 
    text-decoration: none; 
}
.link-active a:hover{
    color:purple;
    font-weight: bold;  
}


.topPart, 
.Img-container{
    z-index: -1; 
    position: relative;
    margin: 0;
    padding: 0;
    width: 80%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.Img-container ul{
    margin: 0; 
    padding: 0; 
    width: 100%; 
    list-style: none; 
    margin-bottom: 40px; 
}

.Img-container li{
    display: flex;
    width: auto; 
    margin-bottom: 20px; 
    -text-align: center; 
}



.Img-container p{
    text-align: center; 
    padding-right: 10px; 
    padding-left: 10px; 
    margin-top: auto; 
    margin-bottom: auto; 
    font-size: 1.4em; 
}


.topPart p{
    margin-top: 10px; 
    margin-bottom: 40px; 
    padding-bottom: 10px; 
    text-align: left; 

    border-bottom: 2px solid black; 
}
.topPart h1 {
    border-bottom: 2px solid black;  
}

.quatro{
    color:purple; 
    font-size: 2em;  
}
.descripT{
    color: purple; 
    font-size: 2em; 
}

.p6{
    color: red; 
}



#footer{
    background: rgba(0, 0, 0, 0.397); 
    margin: 0; 
    padding: 0px; 
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    }
#footer h5{
    text-align: right; 
    color:back; 
    margin: 0; 
    padding: 10px; 
}