body{
    text-align: center; 
    margin: 0;
    margin-top: 20px;  
}
.container{
    position: relative;
    justify-content: center; 
    margin-left: auto; 
    margin-right: auto; 
    margin-bottom: 20px; 
}
.br-space{
    margin-bottom: 70px; 
}
.link-active {
    
    position: fixed;
    border: none; 
    border-radius: 10px; 
    padding: 10px; 
    margin: 0; 
    left: 0; 
    top:0; 
}
.link-active a{
    color:black; 
    font-size: 2em; 
    border: none; 
    border-bottom: 2px solid purple; 
    text-decoration: none; 
}
.link-active a:hover{
    color:purple;
    font-weight: bold;  
}
#footer{
    background: rgba(0, 0, 0, 0.397); 
    margin: 0; 
    padding: 0px; 
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    }
#footer h5{
    text-align: right; 
    color:back; 
    margin: 0; 
    padding: 10px; 
}